<mat-toolbar color="primary">
    <span routerLink="/" style="cursor: pointer;">Daniel Lysinger</span>
    <span class="example-spacer"></span>
    
    <div class="nav-links">
      <button mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</button>
      <button mat-button routerLink="/projects" routerLinkActive="active-link">Projects</button>
    </div>

    <button mat-button class="example-icon" (click)="sendEmail()">
      <mat-icon>mail</mat-icon> Contact Me
    </button>
</mat-toolbar>