<!-- about me -->
<mat-card>
    <mat-card-header>
        <img src="daniel.jpg" alt="Daniel Lysinger" class="profile-photo" />
    </mat-card-header>
    <mat-card-content>
        <p>I am a self-motivated software engineer with four years of development experience
        Some of my projects include a mobile meditation app, a portfolio website (this one),
        and some python flask applications
        </p>
        
        <p>Currently I work at Kinsale Insurance as a Software Engineer.</p>

        <p>I grew up in Amelia Virginia, and in my free time I play video games,
            spend time with family, and play soccer with friends. I also enjoy 
            a pint and a good game of chess, two things that you can find easily in Richmond, Virginia
        </p>

        <p>Below is my contact information and some relevant places</p>

        <mat-divider></mat-divider>

        <div class="contact-info">
            <span>
                <img src="linkedin.webp" alt="LinkedIn" class="contact-icon" />
                <a href="https://www.linkedin.com/in/daniel-lysinger-172298108/" target="_blank">LinkedIn</a>
            </span>
            <span>
                <img src="github.png" alt="GitHub" class="contact-icon" />
                <a href="https://github.com/dsl3zm" target="_blank">GitHub</a>
            </span>
            <span>
                <img src="gmail.png" alt="Gmail" class="contact-icon" />
                <a href="mailto:danielslysinger@gmail.com">Gmail</a>
            </span>
            <span>
                <img src="xlogo.webp" alt="X (Twitter)" class="contact-icon" />
                <a href="https://x.com/DanielLysinger" target="_blank">X (Twitter)</a>
            </span>
        </div>
    </mat-card-content>
</mat-card>

