<!-- <app-header></app-header> -->
<mat-card>
    <mat-card-header>
        <mat-card-title>Daniel Lysinger</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>I am a self-motivated software engineer with four years of development experience</p>

        <p>Below is my contact information and some relevant places</p>

        <mat-divider></mat-divider>

        <div class="contact-info">
            <p>
                <mat-icon>linkedin</mat-icon>
                <a href="https://www.linkedin.com/in/daniel-lysinger-172298108/" target="_blank">LinkedIn</a>
            </p>
            <p>
                <mat-icon>github</mat-icon>
                <a href="https://github.com/dsl3zm" target="_blank">GitHub</a>
            </p>
            <p>
                <mat-icon>alternate_email</mat-icon>
                <a href="mailto:danielslysinger@gmail.com">Gmail</a>
            </p>
            <p>
                <mat-icon>alternate_email</mat-icon>
                <a href="https://x.com/DanielLysinger" target="_blank">X (Twitter)</a>
            </p>
        </div>
    </mat-card-content>
</mat-card>

